<!DOCTYPE html>
<html>

<head>
    <title>about page</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    {{>header}}
    <p>
        This site was created to learn the API's and learn about GIT/Githup so im not designing the frontend o(^▽^)o
    </p>

</body>
{{>footer}}

</html>