<!DOCTYPE html>
<html>

<head>
    <title>about page</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    {{>header}}
    <p>
    <h1>This webstie was Created to learn about API's and template it wasn't created to show the frontend skills so I will
        leave it as its
        <br>Created by: Omar khalili<br>
        Last update:18/08/2023
    </h1>

    </p>
    {{>footer}}
</body>


</html>