<!DOCTYPE html>
<html>

<head>
    <title>help page</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    {{>header}}
    1-Provide your city name to the input box on the weather page and click search.
    2-If you provide a special character it wont gonna give you any info.
    {{>footer}}
</body>


</html>