<!DOCTYPE html>
<html>

<head>
    <title>help page</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    {{>header}}
    <h3>1-Provide your city name to the input box on the weather page and click search.<br>
        2-If you provide a special character it wont gonna give you any info.<br>
        3-The web will provide you with the :temperature,feelslike,humidity,weather
        descriptions,country,localtime,timezone and a picture that describe the weather
        descriptions.
    </h3>
    {{>footer}}
</body>


</html>