<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/styles.css">
    <script src="js/app.js"></script>
</head>

<body>


    {{>header}}

    <div id="main-page">
        <img id="weather-icon">

        <input type="text" id="weather-search" placeholder="City">
        <button type="submit" id="search-button">Search</button>
        <ul id="weather-specifications">
            <li id="temperature"></li>
            <li id="feelslike"></li>
            <li id="humidity"></li>
            <li id="weather_descriptions"></li>
            <li id="country"></li>
            <li id="localtime"></li>
            <li id="timezone_id"></li>
        </ul>
    </div>
    {{>footer}}

</body>


</html>