<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>{{title}}</title>
</head>
<div class="container my-5">

    <footer class="text-center text-lg-start text-white"
        style="background-color: #3e4551; position: absolute;left:0%; bottom:-20%; width: 100%;">

        <div class="container p-4 pb-0">

            <section class="">

                <div class="row">

                    <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Credit to:</h5>

                        <p>
                            Omar khalili

                        </p>
                    </div>
                    <div class="col-lg-2 col-md-6 mb-4 mb-md-0">

                    </div>

                    <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Links</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="mailto: omarkhalili810@gmail.com" class="text-white">My email</a>
                            </li>
                            <li>
                                My Discord Acc: OmarAnKh
                            </li>
                            <li>
                                Phone number: 0598929151
                            </li>
                        </ul>
                    </div>

                </div>

            </section>


            <hr class="mb-4" />

        </div>

        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2023 Copyright:
            <span>No Copyright</span>
        </div>

    </footer>

</div>