#weather-search {
    position: absolute;
    left: 40%;
    top: 40%;
    width: 400px;
    height: 75px;
    border-style: none;
    outline: none;
    font-size: xx-large;
    font-style: italic;
    font-weight: lighter;
}

#search-button {
    position: absolute;
    left: 55%;
    top: 43%;
    width: 100px;
    height: 35px;
    border-style: none;
    outline: none;
}

#weather-icon {
    position: absolute;
    left: 40%;
    top: 10%;
    width: 200px;
    height: 150px;
    border:none;
    border-radius: 10px;
}

#weather-specifications {
    position: absolute;
    left: 40%;
    top: 60%;
    list-style: none;
    font-size: larger;
    font-weight: bolder;
}